.wrapper {
    background-color: blanchedalmond;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
}

.checkout.container {
    height: 85%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

#top-section, #bottom-section {
    border: 1px solid #1abc9c;
    background-color: white;
}

#submit_button {
    background-color: #1abc9c;
    border: 1px solid transparent;
    border-radius: 4px;
}

#top-section {
    margin-bottom: 25px;
}

#middle_border_fix {
    border-top: 0;
    border-bottom: 0;
    padding-top: 3%;
    padding-bottom: 3%;
}

body {
    height: 100vh;
    width: 100vw;
}

header.main {
    height: 12.5%;
    box-sizing: border-box;
    position: relative;
}

header.main .logo, header.main .bt-badge {
    position: absolute;
    width: 40%;
    height: 100%;
    display: inline-block;
    /*margin: auto;*/
}

header.main .logo {
    left: 0;
}

header.main .bt-badge {
    right: 0;
}

.bt-badge img {
    position: absolute;
    max-height: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.logo img {
    position: absolute;
    max-height: 90%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.payment-form {
    position: absolute;
    height: 87.5%;
}

input#expiration {
    border-bottom: 0;
}

#bottom-section {
    padding: 0;
}

#bottom-section label.has-value {
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
}

