.wrapper {
    background-color: blanchedalmond;
}

section {
    border: 3px solid white;
}

#submit_button span {
    font-size: 14px;
    height: 30px;
    line-height: initial;
    padding-top: .4em;
}

#submit_button {
    background-color: #337ab7;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    left: 610px;
    top: 10px;
}

#top {
    margin-bottom: 25px;
}