.jumbotron{
    color: #ffffff;
    background-image: url("images/food photo2.jpg");
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size:45px;
    text-shadow: 1px 1px 2px #808080;
    margin:0;
}
.jumbotron>#tagline{
    font-size:22px;
    font-family: 'Raleway Light', sans-serif;
    text-shadow: 2px 2px 6px #000000;
}


.row {
    /*height: 1500px;*/
}


.card-text{
    font-size: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
}

.ingContainer{
    padding-left: 20px;
    padding-right: 36px;
}

.ingContainer>h3{
   color:#14967c
}


#myModal{
    font-family: 'Raleway', sans-serif;
}
.modal-header{
    color:#14967c
}

.modal-content{
  width: 800px;
}

.row-container{
    height:1000px;
}

.sidenav{
    height: 100%
}

.nav-pills>li.active>a:hover{
    background-color:dodgerblue;
    color:white;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 3px;
    opacity:0.7;
    background-color: #1abc9c;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}
/*.navbar-nav  li a:hover {*/
    /*color: #1abc9c !important;*/
/*}*/

.nav-menu{
    margin:0px 20px 0px 30px;    /*top right bottom left*/
}

.navbar-nav>li>a{
    padding-top: 7px;
    padding-bottom: 12px;
    line-height:36px
}

.nav>li>a {
    padding: 10px 10px;
}

#stuff{
    background-color: blanchedalmond;
}

#site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto; /* Temp: Simulates a tall page. */
}
#site-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(0);
    transition: 300ms ease all;
    backface-visibility: hidden;

}
.show-nav #site-canvas {
    padding-right:300px;
    transform: translateX(300px);
}
#site-menu {
    width: 300px;
    height: 100%;
    position: fixed;
    left: -300px;
    padding: 15px;
}

#logo{
    margin-bottom:12px;
}

.thumbnail {
    height: 300px;
}

#main-container{
    background-color: blanchedalmond;
}

#ingredientButtons .topIng{
    display: inline-block;
    margin-bottom: 5px;
}

.fridgeButton{
    margin-right: 10px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}


.fridge{
    padding: 12px 16px;
    background-color:whitesmoke;
    margin-bottom: 20px;
}
.topIng.selected{
    background-color: gray;
}
.btn-info .addedIng{
 margin-right: 10px;
}

.card {
    border: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
    background-color: white;
    margin-bottom: 34px;
}

.card-block {
    position: relative;
    padding: 1.5rem;
    padding-top: 0px;
    background-color: white;
}

.card-title{
    font-family: 'Raleway', sans-serif;

    /*font-size:25px;*/

    /*font-size: 22px;*/
    font-size:2.5vmin;
}

.showImage{
    width: 400px;
    height: auto;
    margin-top: 10px;
    object-fit:cover;
    margin-right: 15px;
    margin-left: 33px;
    padding: 15px;

    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.cover {
    object-fit: cover;
}

.footer-style{
    background-color: #1abc9c;
    color: #fff;
    font-size:16px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#loading{
    display:none;
    transform: translateX(-120px) translateY(-25px);
    position: absolute;
    height:150px;
}

.fb-login-button{
    margin-top: 14px;
    margin-right: 12px;
}

.addRecipe{
    text-align:center
}








