.jumbotron{
    color: #ffffff;
    background-image: url("../images/food photo2.jpg");
    background-size: cover;
}

.row{
    height:1500px;
}
.sidenav{
    height: 100%
}

.nav-pills>li.active>a:hover{
    background-color:dodgerblue;
    color:white;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}


.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
    opacity:0.7;
    background-color: #1abc9c;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.nav-menu{
    margin:0px 20px 0px 30px;    /*top right bottom left*/
}

#main-container{
    background-color: blanchedalmond;
}

#site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 5000px; /* Temp: Simulates a tall page. */
}
#site-canvas {
    width: 100%;
    height: 100%;
    position: relative;

    -webkit-transform: translateX(0);
    transform: translateX(0);

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.show-nav #site-canvas {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);

    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}
#site-menu {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -300px;
    padding: 15px;
}

#logo{
    margin-bottom:20px;
}

.thumbnail {
    height:320px;
    /*background-image: url("https://spoonacular.com/recipeImages/chicken-noodle-stew-714793.jpg");*/
    /*background-repeat:no-repeat;*/
    /*background-size: cover;*/
    /*background-position:center;*/

}
.container-fluid{
    /*background-image: url("images/bamboo_texture.png");
    background-size: cover;*/
    background-color: blanchedalmond;
}

#ingredientButtons .panel-body{
    display: inline-block;
    margin: 13px;
}

/*.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}*/
.ui-autocomplete {
    max-height: 200px;
    overflow: hidden;
}

.card {
    border: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
    background-color: white;
    margin-bottom: 34px;
}

.card-block {
    position: relative;
    padding: 1.5rem;
    padding-top: 0;
    background-color: white;
}

/*.imgSize{*/
    /*background-size:cover;*/
/*}*/


