.obese {
    width: 200%;
    overflow: visible;
}

.jumbotron{
    color: #ffffff;
    background-image: url("../images/food photo2.jpg");
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size:45px;
    text-shadow: 1px 1px 2px #808080;
    padding-top: 66px;
    padding-bottom: 66px;
    margin:0;
}

.row{
    height:1500px;
}

.sidenav{
    height: 100%
}

.nav-pills>li.active>a:hover{
    background-color:dodgerblue;
    color:white;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
    opacity:0.7;
    background-color: #1abc9c;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.nav-menu{
    margin:0px 20px 0px 30px;    /*top right bottom left*/
}
#site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto; /* Temp: Simulates a tall page. */
}
#site-canvas {
    width: 100%;
    height: 100%;
    position: relative;

    -webkit-transform: translateX(0);
    transform: translateX(0);

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.show-nav #site-canvas {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);

    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}
#site-menu {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -300px;
    padding: 15px;
}

#logo{
    margin-bottom:20px;
}
.thumbnail {
    height: 300px;
}


#main-container{
    background-color: blanchedalmond;
}

#ingredientButtons .panel-body{
    display: inline-block;
    margin: 13px;
}

.ui-autocomplete {

    height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.btn.btn-info.topIng:hover {
    transform: skew(-10deg);
}


.fridge{
    padding: 12px 16px;
    background-color:whitesmoke;
    margin-bottom: 20px;
}

.card {
    border: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
    background-color: white;
    margin-bottom: 34px;
}

.card-block {
    position: relative;
    padding: 1.5rem;
    padding-top: 0px;
    background-color: white;
}

.card-title{
    font-family: 'Raleway', sans-serif;
    font-size:25px;
}



