
body{
    background-color:#1abc9c;
}

.container{
    background-color: white;
    margin-top: 106px;
    height: 500px;
    width: 400px;
    border-radius:5px;
}

.omb_authTitle{
    text-align: center;
    margin-top: 12px
}

.omb_login{
    margin-top: 94px;
}

#my-signin2{
    margin:33px 0px 0px 76px /*top right bottom left*/
}

#logo{
    margin-top: 22px;
}
